<h1>READ ME</h1>

<h2>Anagram Test</h2>
<p> This is a web application, built with just one purpose: Test if two words are anagrams. </p>

<h3>Step by Step</h3>
<p> Go to http://localhost:3000/words, click on "Novo Teste". In  the new page, fill in the form with two words you want to test. </p>
<p>Click on "Create Test" and see the results</p>
 	
	
<%= link_to 'Back', words_path %>
